.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

  .background {
    background-color: #e2e2e2;
    border-radius: 25px;
    margin: 2%;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;


    .head {
      display: flex;
      text-align: center;
      align-items: center;
      width: 100%;
      height: 10%;

          h1 {
            width: 60%;
            font-size: 2.3em;
            font-weight: 500;
            text-align: end;
            font-family: Yeseva one, sans-serif;

          }

          .imghead {
            display: flex;
            justify-content: flex-end;
            height: 3vw;
            width: 50%;

            a {
              margin-right: 3%;
            }
        }
     }

    .gros-block {

          display: flex;
          flex-direction: column;
          width: 100%;



        .block {

          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-column-gap: 0vw;
          grid-row-gap: 2.5vw;
          justify-items: center;
          margin-top: 2%;


            .blockparam {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              justify-content: space-evenly;
              background-color: white;
              filter: drop-shadow(6px 12px 14px rgba(0, 0, 0, 0.25));
              border-radius: 50px;
              width: 22vw;
              height: 22vh;



              &:hover {
                transform: scale(1.1);
              }

              img{
                height: 4vw;
                width: 4vw;
              }

              p {
                font-weight: 500;
                font-size: 150%;
                font-family: Yeseva one, sans-serif;

              }
          }
       }
    }
}
