.background {
    background-color: #E2E2E2;
    border-radius: 25px;
    margin: 2%;
    width: 85vw;
    height: 95%;

    .head {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;

        h1{
            text-align: right;
            width: 60%;
            font-size: 2.3em;
            font-weight: 500;
        }

        .div_imghead{
            width: 50%;
            display: flex;
            justify-content: right;

            a{
                margin-right: 3%;
            }
        }
    }

    .all-div{
      display: flex;
      flex-direction: column;
      height: 90%;


          .hello-bilan{
            display: flex;
            align-items: center;
            height: 25%;
            gap: 4vw;
          }
          .progress-carroussel{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 75%;

                .progress{
                  height: 30%;
                }
                .carroussel{
                  height: 45%;
                }


          }

    }
}
