<div class="background">
    <div class="head">
        <h1>{{title}}</h1>
        <div class="div_imghead">
            <a [routerLink]=[linkContact]><img class="img_head"[src]="don" alt=""></a>
            <a [routerLink]=[linkNotifications]><img class="img_head"[src]="notification" alt=""></a>
        </div>
    </div>
 <section class="all-div">
    <div class="hello-bilan">
      <div class="hello">
          <app-hello></app-hello>
      </div>
      <iframe class="calendly-inline-widget" src="https://calendly.com/xavierpincon?hide_landing_page_details=1&hide_gdpr_banner=1&text_color=c70000&primary_color=c70000" ></iframe>
    </div>
    <div class="progress-carroussel">
      <div class="progress-bar-home">
          <app-progress-bar-home></app-progress-bar-home>
      </div>
      <div class="carroussel">
          <app-carroussel></app-carroussel>
      </div>
    </div>
 </section>
</div>


