<div class="background">
    <div class="head">
        <h1>{{title}}</h1>
        <div class="div_imghead">
            <a [routerLink]=[linkContact]><img class="img_head"[src]="don" alt=""></a>
            <a [routerLink]=[linkNotifications]><img class="img_head"[src]="notification" alt=""></a>
        </div>
    </div>
<section class="all-div">
<div class="hello-bilan">
<app-hello></app-hello>
<div class="calendly-inline-widget" data-url="https://calendly.com/my-calendar-link"></div>
</div>
<div class="progress-carroussel">
<div class="progress">
<app-progress-bar-home></app-progress-bar-home>
</div>
<div class="carroussel">
<app-carroussel></app-carroussel>
</div>
</div>
</section>
</div>


