<div class="background">
    <div class="head">
        <h1>{{title}}</h1>
        <div class="div_imghead">
            <a [routerLink]=[linkContact]><img class="img_head"[src]="don" alt="don"></a>
            <a [routerLink]=[linkNotifications]><img class="img_head"[src]="notification" alt="notification"></a>
        </div>
    </div>
<section class="bilan-patient">
    <app-bilan></app-bilan>
    <app-profil-patient></app-profil-patient>
    <app-progress-bar></app-progress-bar>
</section>
</div>
