<div class="background">
    <div class="head">
        <h1>{{title}}</h1>
        <div class="div_imghead">
            <a [routerLink]=[linkContact]><img class="img_head"[src]="don" alt="don"></a>
            <a [routerLink]=[linkNotifications]><img class="img_head"[src]="notification" alt="notification"></a>
        </div>
    </div>
<section class="bilan-patient">
    <iframe class="calendly-inline-widget" src="https://calendly.com/xavierpincon?hide_landing_page_details=1&hide_gdpr_banner=1&text_color=c70000&primary_color=c70000" ></iframe>
    <div class="profil-patient">
    <app-profil-patient></app-profil-patient>
    </div>
    <app-progress-bar></app-progress-bar>
</section>
</div>
