<div class="background">
    <div class="head">
        <h1>{{title}}</h1>
        <div class="div_imghead">
            <a [routerLink]=[linkContact]><img class="img_head"[src]="don" alt="don"></a>
            <a [routerLink]=[linkNotifications]><img class="img_head"[src]="notification" alt="notification"></a>
        </div>
    </div>
    <div class ="carrou-prog">
      <app-carroussel></app-carroussel>
    </div>
    <div class="change-avis">
      <div class="changeprog">
        <app-changer-programme></app-changer-programme>
      </div>
      <div class="avis">
        <app-avis-exercices></app-avis-exercices>
      </div>
     </div>
</div>


