<div class="background">
    <div class="head">
        <h1>{{title}}</h1>
        <div class="div_imghead">
            <a [routerLink]=[linkContact]><img class="img_head"[src]="don" alt="don"></a>
            <a [routerLink]=[linkNotifications]><img class="img_head"[src]="notification" alt="notification"></a>
  

        </div>
    </div>
    
          <div class ="container">
      <app-carroussel></app-carroussel>
      <app-changer-programme></app-changer-programme>
    </div>
      

</div>


