.bloc {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 6px 12px 14px 1px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 35% 45%;
    justify-content: center;

    .title {

      text-align: center;
      width: 100%;
      font-size: 2em;
      font-weight: 600;
      font-family: Georgia, 'Times New Roman', Times, serif;

    }
    .progress-bar-container {
      height: 100%;
      width: 90%;
      display: flex;
      align-items: center;
      margin-left: 2%;

      progress[value] {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        box-shadow: 0 0 20px #e4e4e4 ;

      }

      progress[value]::-webkit-progress-bar {
        background-color: #e4e4e4;
        border-radius: 10px;
        box-shadow: 0 2px 5px #e4e4e4 inset;
        width: 100%;
      }

      progress[value]::-webkit-progress-value {
        position: relative;
        background-color: #d61a20;
        border-radius: 25px;
        width: 100%;
      }

      .progress-bar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30%;
      }

    }

    .level {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      align-items: center;
      grid-row: 100%;
      font-family: Georgia, 'Times New Roman', Times, serif;


      p {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 130%;

  span{
          height: 6vw;
          width: 50%;
          border-radius: 100%;
          color: white;
          font-size:3vw;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: Georgia, 'Times New Roman', Times, serif;
      }
          .lev{
            background-color: #d61a20;

          }

          .nextlev{
            background-color: blue;
          }

          .exosem{
            background-color: black;
          }

          .exomois{
            background-color: purple;

          }

          &:hover{
            transform: scale(1.1);
            transition: 0.3s;

            }

  }
    }
  }
