<div class="bloc">
   <div class="title">VOTRE PROGRESSION</div>
   <div class="progress-bar-container">
      <div class="progress-bar">
      <progress value="80" max="100"></progress>
      </div>
   </div>
   <div class="level">
      <div>Niveau actuel <span class="lev">5</span></div>
      <div>Prochain niveau <span class="nextlev">6</span></div>
      <div>Entrainement cette semaine <span class="exosem">2</span></div>
      <div>Entrainement ce mois-ci <span class="exomois">10</span></div>
   </div>
</div>
